# Project Case 01


## Initial Data Analysis of German Credit Score Dataset

Okky Adhi Qomarudin<br>
24 October 2019

***

Import pandas and numpy

In [1]:
import pandas as pd
import numpy as np

Import germand credit score data

In [102]:
german = pd.read_csv('dataset/german_credit_data_with_risk.csv')
df = pd.DataFrame(german)
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad
5,5,35,male,1,free,NaN,NaN,9055,36,education,good
6,6,53,male,2,own,quite rich,NaN,2835,24,furniture/equipment,good
7,7,35,male,3,rent,little,moderate,6948,36,car,good
8,8,61,male,1,own,rich,NaN,3059,12,radio/TV,good
9,9,28,male,3,own,little,moderate,5234,30,car,bad
10,10,25,female,2,rent,little,moderate,1295,12,car,bad
11,11,24,female,2,rent,little,little,4308,48,business,bad
12,12,22,female,2,own,little,moderate,1567,12,radio/TV,good
13,13,60,male,1,own,little,little,1199,24,car,bad
14,14,28,female,2,rent,little,little,1403,15,car,good
15,15,32,female,1,own,moderate,little,1282,24,radio/TV,bad
16,16,53,male,2,own,NaN,NaN,2424,24,radio/TV,good
17,17,25,male,2,own,NaN,little,8072,30,business,good
18,18,44,female,3,free,little,moderate,12579,24,car,bad
19,19,31,male,2,own,quite rich,NaN,3430,24,radio/TV,good
20,20,48,male,2,own,little,NaN,2134,9,car,good
21,21,44,male,2,rent,quite rich,little,2647,6,radio/TV,good
22,22,48,male,1,rent,little,little,2241,10,car,good
23,23,44,male,2,own,moderate,moderate,1804,12,car,good
24,24,26,male,2,own,NaN,NaN,2069,10,furniture/equipment,good
25,25,36,male,1,own,little,little,1374,6,furniture/equipment,good
26,26,39,male,1,own,little,NaN,426,6,radio/TV,good
27,27,42,female,2,rent,rich,rich,409,12,radio/TV,good
28,28,34,male,2,own,little,moderate,2415,7,radio/TV,good
29,29,63,male,2,own,little,little,6836,60,business,bad
...,...,...,...,...,...,...,...,...,...,...,...
970,970,22,male,2,own,moderate,moderate,1514,15,repairs,good
971,971,43,male,1,own,little,NaN,7393,24,car,good
972,972,29,female,0,rent,little,little,1193,24,car,bad
973,973,36,male,2,rent,little,little,7297,60,business,bad
974,974,33,female,2,own,little,NaN,2831,30,radio/TV,good
975,975,57,female,1,own,quite rich,rich,1258,24,radio/TV,good
976,976,64,female,2,own,little,moderate,753,6,radio/TV,good
977,977,42,male,2,own,NaN,moderate,2427,18,business,good
978,978,47,male,1,own,little,NaN,2538,24,car,bad
979,979,25,male,2,rent,moderate,moderate,1264,15,car,bad
980,980,49,male,2,own,little,moderate,8386,30,furniture/equipment,bad
981,981,33,male,3,rent,little,NaN,4844,48,business,bad
982,982,28,female,3,own,moderate,rich,2923,21,car,good
983,983,26,male,2,own,little,little,8229,36,car,bad
984,984,30,male,1,own,little,NaN,2028,24,furniture/equipment,good
985,985,25,female,2,rent,little,little,1433,15,furniture/equipment,good
986,986,33,male,2,own,little,rich,6289,42,business,good
987,987,64,female,2,own,moderate,NaN,1409,13,radio/TV,good
988,988,29,male,3,free,little,little,6579,24,car,good
989,989,48,male,1,own,little,moderate,1743,24,radio/TV,good
990,990,37,male,1,own,NaN,NaN,3565,12,education,good
991,991,34,male,1,own,moderate,NaN,1569,15,radio/TV,good
992,992,23,male,1,rent,NaN,little,1936,18,radio/TV,good
993,993,30,male,3,own,little,little,3959,36,furniture/equipment,good
994,994,50,male,2,own,NaN,NaN,2390,12,car,good
995,995,31,female,1,own,little,NaN,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,little,3857,30,car,good
997,997,38,male,2,own,little,NaN,804,12,radio/TV,good
998,998,23,male,2,free,little,little,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,moderate,4576,45,car,good

Check  null values

In [73]:
# df.isnull().sum()
null_column = df.isnull().sum()
null_column[null_column>0]

Saving accounts     183
Checking account    394
dtype: int64

normalize data

In [103]:
df['Checking account'] = df['Checking account'].map({'little':1,'moderate':2,'rich':3,np.nan:0})
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,1,1169,6,radio/TV,good
1,1,22,female,2,own,little,2,5951,48,radio/TV,bad
2,2,49,male,1,own,little,0,2096,12,education,good
3,3,45,male,2,free,little,1,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,1,4870,24,car,bad
5,5,35,male,1,free,NaN,0,9055,36,education,good
6,6,53,male,2,own,quite rich,0,2835,24,furniture/equipment,good
7,7,35,male,3,rent,little,2,6948,36,car,good
8,8,61,male,1,own,rich,0,3059,12,radio/TV,good
9,9,28,male,3,own,little,2,5234,30,car,bad
10,10,25,female,2,rent,little,2,1295,12,car,bad
11,11,24,female,2,rent,little,1,4308,48,business,bad
12,12,22,female,2,own,little,2,1567,12,radio/TV,good
13,13,60,male,1,own,little,1,1199,24,car,bad
14,14,28,female,2,rent,little,1,1403,15,car,good
15,15,32,female,1,own,moderate,1,1282,24,radio/TV,bad
16,16,53,male,2,own,NaN,0,2424,24,radio/TV,good
17,17,25,male,2,own,NaN,1,8072,30,business,good
18,18,44,female,3,free,little,2,12579,24,car,bad
19,19,31,male,2,own,quite rich,0,3430,24,radio/TV,good
20,20,48,male,2,own,little,0,2134,9,car,good
21,21,44,male,2,rent,quite rich,1,2647,6,radio/TV,good
22,22,48,male,1,rent,little,1,2241,10,car,good
23,23,44,male,2,own,moderate,2,1804,12,car,good
24,24,26,male,2,own,NaN,0,2069,10,furniture/equipment,good
25,25,36,male,1,own,little,1,1374,6,furniture/equipment,good
26,26,39,male,1,own,little,0,426,6,radio/TV,good
27,27,42,female,2,rent,rich,3,409,12,radio/TV,good
28,28,34,male,2,own,little,2,2415,7,radio/TV,good
29,29,63,male,2,own,little,1,6836,60,business,bad
...,...,...,...,...,...,...,...,...,...,...,...
970,970,22,male,2,own,moderate,2,1514,15,repairs,good
971,971,43,male,1,own,little,0,7393,24,car,good
972,972,29,female,0,rent,little,1,1193,24,car,bad
973,973,36,male,2,rent,little,1,7297,60,business,bad
974,974,33,female,2,own,little,0,2831,30,radio/TV,good
975,975,57,female,1,own,quite rich,3,1258,24,radio/TV,good
976,976,64,female,2,own,little,2,753,6,radio/TV,good
977,977,42,male,2,own,NaN,2,2427,18,business,good
978,978,47,male,1,own,little,0,2538,24,car,bad
979,979,25,male,2,rent,moderate,2,1264,15,car,bad
980,980,49,male,2,own,little,2,8386,30,furniture/equipment,bad
981,981,33,male,3,rent,little,0,4844,48,business,bad
982,982,28,female,3,own,moderate,3,2923,21,car,good
983,983,26,male,2,own,little,1,8229,36,car,bad
984,984,30,male,1,own,little,0,2028,24,furniture/equipment,good
985,985,25,female,2,rent,little,1,1433,15,furniture/equipment,good
986,986,33,male,2,own,little,3,6289,42,business,good
987,987,64,female,2,own,moderate,0,1409,13,radio/TV,good
988,988,29,male,3,free,little,1,6579,24,car,good
989,989,48,male,1,own,little,2,1743,24,radio/TV,good
990,990,37,male,1,own,NaN,0,3565,12,education,good
991,991,34,male,1,own,moderate,0,1569,15,radio/TV,good
992,992,23,male,1,rent,NaN,1,1936,18,radio/TV,good
993,993,30,male,3,own,little,1,3959,36,furniture/equipment,good
994,994,50,male,2,own,NaN,0,2390,12,car,good
995,995,31,female,1,own,little,0,1736,12,furniture/equipment,good
996,996,40,male,3,own,little,1,3857,30,car,good
997,997,38,male,2,own,little,0,804,12,radio/TV,good
998,998,23,male,2,free,little,1,1845,45,radio/TV,bad
999,999,27,male,2,own,moderate,2,4576,45,car,good

In [104]:
df['Saving accounts'] = df['Saving accounts'].map({'little':1,'moderate':2,'quite rich':3,'rich':4,np.nan:0})
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,0,1,1169,6,radio/TV,good
1,1,22,female,2,own,1,2,5951,48,radio/TV,bad
2,2,49,male,1,own,1,0,2096,12,education,good
3,3,45,male,2,free,1,1,7882,42,furniture/equipment,good
4,4,53,male,2,free,1,1,4870,24,car,bad
5,5,35,male,1,free,0,0,9055,36,education,good
6,6,53,male,2,own,3,0,2835,24,furniture/equipment,good
7,7,35,male,3,rent,1,2,6948,36,car,good
8,8,61,male,1,own,4,0,3059,12,radio/TV,good
9,9,28,male,3,own,1,2,5234,30,car,bad
10,10,25,female,2,rent,1,2,1295,12,car,bad
11,11,24,female,2,rent,1,1,4308,48,business,bad
12,12,22,female,2,own,1,2,1567,12,radio/TV,good
13,13,60,male,1,own,1,1,1199,24,car,bad
14,14,28,female,2,rent,1,1,1403,15,car,good
15,15,32,female,1,own,2,1,1282,24,radio/TV,bad
16,16,53,male,2,own,0,0,2424,24,radio/TV,good
17,17,25,male,2,own,0,1,8072,30,business,good
18,18,44,female,3,free,1,2,12579,24,car,bad
19,19,31,male,2,own,3,0,3430,24,radio/TV,good
20,20,48,male,2,own,1,0,2134,9,car,good
21,21,44,male,2,rent,3,1,2647,6,radio/TV,good
22,22,48,male,1,rent,1,1,2241,10,car,good
23,23,44,male,2,own,2,2,1804,12,car,good
24,24,26,male,2,own,0,0,2069,10,furniture/equipment,good
25,25,36,male,1,own,1,1,1374,6,furniture/equipment,good
26,26,39,male,1,own,1,0,426,6,radio/TV,good
27,27,42,female,2,rent,4,3,409,12,radio/TV,good
28,28,34,male,2,own,1,2,2415,7,radio/TV,good
29,29,63,male,2,own,1,1,6836,60,business,bad
...,...,...,...,...,...,...,...,...,...,...,...
970,970,22,male,2,own,2,2,1514,15,repairs,good
971,971,43,male,1,own,1,0,7393,24,car,good
972,972,29,female,0,rent,1,1,1193,24,car,bad
973,973,36,male,2,rent,1,1,7297,60,business,bad
974,974,33,female,2,own,1,0,2831,30,radio/TV,good
975,975,57,female,1,own,3,3,1258,24,radio/TV,good
976,976,64,female,2,own,1,2,753,6,radio/TV,good
977,977,42,male,2,own,0,2,2427,18,business,good
978,978,47,male,1,own,1,0,2538,24,car,bad
979,979,25,male,2,rent,2,2,1264,15,car,bad
980,980,49,male,2,own,1,2,8386,30,furniture/equipment,bad
981,981,33,male,3,rent,1,0,4844,48,business,bad
982,982,28,female,3,own,2,3,2923,21,car,good
983,983,26,male,2,own,1,1,8229,36,car,bad
984,984,30,male,1,own,1,0,2028,24,furniture/equipment,good
985,985,25,female,2,rent,1,1,1433,15,furniture/equipment,good
986,986,33,male,2,own,1,3,6289,42,business,good
987,987,64,female,2,own,2,0,1409,13,radio/TV,good
988,988,29,male,3,free,1,1,6579,24,car,good
989,989,48,male,1,own,1,2,1743,24,radio/TV,good
990,990,37,male,1,own,0,0,3565,12,education,good
991,991,34,male,1,own,2,0,1569,15,radio/TV,good
992,992,23,male,1,rent,0,1,1936,18,radio/TV,good
993,993,30,male,3,own,1,1,3959,36,furniture/equipment,good
994,994,50,male,2,own,0,0,2390,12,car,good
995,995,31,female,1,own,1,0,1736,12,furniture/equipment,good
996,996,40,male,3,own,1,1,3857,30,car,good
997,997,38,male,2,own,1,0,804,12,radio/TV,good
998,998,23,male,2,free,1,1,1845,45,radio/TV,bad
999,999,27,male,2,own,2,2,4576,45,car,good

## Part A


### 1. How many rows and columns reflected in the dataset?

In [9]:
df.shape

(1000, 11)

### 2. What is the minimum, maximum, and mean of the customer's age?

In [163]:
pd.DataFrame({'Min':df[['Age']].min(),'Max':df[['Age']].max(),'Mean':df[['Age']].mean()})

     Min  Max    Mean
Age   19   75  35.546

### 3. How many are male and how many are female? Why?

In [156]:
# df.groupby('Sex')[['Sex']].count()
pd.DataFrame({'Percentage': df.groupby(('Sex')).size() / len(df), 'Count': df.groupby(('Sex'))['Sex'].count()})

        Percentage  Count
Sex
female        0.31    310
male          0.69    690

### 4. How many high skilled workers customers reflected in the dataset?

In [176]:
print('Total High skilled workers customer : ',len(df[df.Job ==3]))

Total High skilled workers customer :  148

### 5. How many customers who own the house?

In [177]:
print('Customer who own the house : ',len(df[df.Housing == 'own']))

Customer who own the house :  713

### 6. How many customers who have 'rich' Saving accounts?

In [179]:
print('Customer who have rich Saving account : ',len(df[df['Saving accounts']== 4 ] ))

Customer who have rich Saving account :  48

### 7. How many customers who do not have checking accounts or have zero checking account?

In [181]:
print('customers who do not have checking accounts or have zero checking account : ',len(df[df['Checking account'] == 0 ]))

customers who do not have checking accounts or have zero checking account :  394

### 8. Who is the one who have highest credit amount? Show us the profile of the age, sex, job, housing, saving account, and checking account!

In [186]:
df[df['Credit amount'] == df['Credit amount'].max()].transpose()

                              915
Unnamed: 0                    915
Age                            32
Sex                        female
Job                             3
Housing                       own
Saving accounts                 1
Checking account                2
Credit amount               18424
Duration                       48
Purpose           vacation/others
Risk                          bad

### 9. How many customers are classified as good risk and bad risk?

In [184]:
# df.groupby('Risk')[['Risk']].count()
pd.DataFrame({'Percentage': df.groupby(('Risk')).size() / len(df) , 'Count' : df.groupby('Risk')['Risk'].count() })

      Percentage  Count
Risk
bad          0.3    300
good         0.7    700

### 10. Is the average of credit amount for good risk is higher than bad risk?

In [119]:
'Yes' if df['Credit amount'][df.Risk=='good'].mean() > df['Credit amount'][df.Risk=='bad'].mean()  else 'No'

'No'

***

## Part B

### 1. Who has the longest duration of installment?

In [122]:
df[df['Duration']==df['Duration'].max()]

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
677,677,24,male,2,own,2,2,5595,72,radio/TV,bad

### 2. What is the most popular purpose?

In [130]:
df.groupby('Purpose')['Purpose'].count().sort_values().tail(1)

Purpose
car    337
Name: Purpose, dtype: int64

### 3. Pearson Correlation between Risk and Saving Accounts

In [190]:
df['Risk'] = df['Risk'].map({'good':1,'bad':0})
df

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,0,1,1169,6,radio/TV,1
1,1,22,female,2,own,1,2,5951,48,radio/TV,0
2,2,49,male,1,own,1,0,2096,12,education,1
3,3,45,male,2,free,1,1,7882,42,furniture/equipment,1
4,4,53,male,2,free,1,1,4870,24,car,0
5,5,35,male,1,free,0,0,9055,36,education,1
6,6,53,male,2,own,3,0,2835,24,furniture/equipment,1
7,7,35,male,3,rent,1,2,6948,36,car,1
8,8,61,male,1,own,4,0,3059,12,radio/TV,1
9,9,28,male,3,own,1,2,5234,30,car,0
10,10,25,female,2,rent,1,2,1295,12,car,0
11,11,24,female,2,rent,1,1,4308,48,business,0
12,12,22,female,2,own,1,2,1567,12,radio/TV,1
13,13,60,male,1,own,1,1,1199,24,car,0
14,14,28,female,2,rent,1,1,1403,15,car,1
15,15,32,female,1,own,2,1,1282,24,radio/TV,0
16,16,53,male,2,own,0,0,2424,24,radio/TV,1
17,17,25,male,2,own,0,1,8072,30,business,1
18,18,44,female,3,free,1,2,12579,24,car,0
19,19,31,male,2,own,3,0,3430,24,radio/TV,1
20,20,48,male,2,own,1,0,2134,9,car,1
21,21,44,male,2,rent,3,1,2647,6,radio/TV,1
22,22,48,male,1,rent,1,1,2241,10,car,1
23,23,44,male,2,own,2,2,1804,12,car,1
24,24,26,male,2,own,0,0,2069,10,furniture/equipment,1
25,25,36,male,1,own,1,1,1374,6,furniture/equipment,1
26,26,39,male,1,own,1,0,426,6,radio/TV,1
27,27,42,female,2,rent,4,3,409,12,radio/TV,1
28,28,34,male,2,own,1,2,2415,7,radio/TV,1
29,29,63,male,2,own,1,1,6836,60,business,0
...,...,...,...,...,...,...,...,...,...,...,...
970,970,22,male,2,own,2,2,1514,15,repairs,1
971,971,43,male,1,own,1,0,7393,24,car,1
972,972,29,female,0,rent,1,1,1193,24,car,0
973,973,36,male,2,rent,1,1,7297,60,business,0
974,974,33,female,2,own,1,0,2831,30,radio/TV,1
975,975,57,female,1,own,3,3,1258,24,radio/TV,1
976,976,64,female,2,own,1,2,753,6,radio/TV,1
977,977,42,male,2,own,0,2,2427,18,business,1
978,978,47,male,1,own,1,0,2538,24,car,0
979,979,25,male,2,rent,2,2,1264,15,car,0
980,980,49,male,2,own,1,2,8386,30,furniture/equipment,0
981,981,33,male,3,rent,1,0,4844,48,business,0
982,982,28,female,3,own,2,3,2923,21,car,1
983,983,26,male,2,own,1,1,8229,36,car,0
984,984,30,male,1,own,1,0,2028,24,furniture/equipment,1
985,985,25,female,2,rent,1,1,1433,15,furniture/equipment,1
986,986,33,male,2,own,1,3,6289,42,business,1
987,987,64,female,2,own,2,0,1409,13,radio/TV,1
988,988,29,male,3,free,1,1,6579,24,car,1
989,989,48,male,1,own,1,2,1743,24,radio/TV,1
990,990,37,male,1,own,0,0,3565,12,education,1
991,991,34,male,1,own,2,0,1569,15,radio/TV,1
992,992,23,male,1,rent,0,1,1936,18,radio/TV,1
993,993,30,male,3,own,1,1,3959,36,furniture/equipment,1
994,994,50,male,2,own,0,0,2390,12,car,1
995,995,31,female,1,own,1,0,1736,12,furniture/equipment,1
996,996,40,male,3,own,1,1,3857,30,car,1
997,997,38,male,2,own,1,0,804,12,radio/TV,1
998,998,23,male,2,free,1,1,1845,45,radio/TV,0
999,999,27,male,2,own,2,2,4576,45,car,1

In [192]:
df[['Risk','Saving accounts']].corr(method ='pearson')

                     Risk  Saving accounts
Risk             1.000000         0.033871
Saving accounts  0.033871         1.000000

### 4. How many unskilled and non-resident customer buy a car?

In [204]:
pd.DataFrame({'Car':df[(df.Job == 0) & (df.Purpose == 'car') ][['Purpose']].count()})

         Car
Purpose   12

### 5. How many rich customer does not have house?

In [211]:
print('Rich customer who does not have own house : ',len(df[(df['Saving accounts']==4 )&(df.Housing != 'own')]))

Rich customer who does not have own house :  11

### 6. Is rich customer always have a good risk?

In [296]:
percent=df.groupby(['Saving accounts','Risk'])['Saving accounts'].size()
display(pd.DataFrame({'percent': percent.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))}))
print('Rich customer has the best risk score. There are 87% rich customer who have good risk')

                        percent
Saving accounts Risk
0               0     17.486339
                1     82.513661
1               0     35.986733
                1     64.013267
2               0     33.009709
                1     66.990291
3               0     17.460317
                1     82.539683
4               0     12.500000
                1     87.500000

Rich customer has the best risk score. There are 87% rich customer who have good risk

### 7. Is Male has better risk score?

In [303]:
percent = df.groupby(['Sex','Risk'])['Risk'].size()
display(pd.DataFrame(percent.groupby(level=0).apply(lambda x: x * 100/ x.sum())))
print('Male has better risk score than Female. 72% of Male has good risk')

                  Risk
Sex    Risk
female 0     35.161290
       1     64.838710
male   0     27.681159
       1     72.318841

Male has better risk score than Female. 72% of Male has good risk

### 8. How much credit amount  in bad risk customer?

In [322]:
print('Total credit amount in bad risk customer: ' ,df[df.Risk==0]['Credit amount'].sum())

Total credit amount in bad risk customer:  1181438

### 9. What average duration installment for Male Customer who had bad risk , owned house and duration installment is more than 12?

In [323]:
df[(df.Risk == 0) & (df.Housing == 'own') & (df.Sex == 'male') & (df.Duration>12)]['Duration'].mean()

29.041666666666668

### 10. How is the correlation between credit amount and duration installment?

In [338]:
display(df[['Duration','Credit amount']].corr())
print('Duration and credit amount has highly positive correlation means longest duration, higher credit amount')

               Duration  Credit amount
Duration       1.000000       0.624984
Credit amount  0.624984       1.000000

Duration and credit amount has highly positive correlation means longest duration, higher credit amount

***

## Part C

##### Define at least 3 business problems that you can find based on the dataset!

1. We should make a credit score model base on the dataset

2. Why there is customer that is in 'rich' category has bad risk?

3. Can we determine intereset rate, duration installment for new customer based on this dataset?